// tech stack container
.techStackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.techstackHeading {
  margin-bottom: 1rem;
  font-family: 'kanit';
  font-weight: 400;
  font-size: 3rem;
}

// icon container
.iconContainer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

// each icon row
.iconRow {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

// each individual icon
.icons {
  background-color: white;
  border-radius: 25px;
  padding: .1rem;
  margin: .2rem;
}
