@import "about.scss";
@import "contact.scss";
@import "projects.scss";
@import "tech.scss";

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  background-color: #F0EBEF;
}





.sectionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 6rem;
}


footer{
  text-align: center;
  font-family: kanit;
  font-weight: 400;
}